/*
 * Urchin 3x5+2 - 34-Key Layout
 * ==============================
 * Portado desde: Corne v4.1 / Go60 layout
 * Fecha: 2026-04-10
 * SO: ES keyboard layout (Hyprland/Wayland)
 *
 * 34 teclas: 3 filas x 5 columnas x 2 lados + 2 thumbs x 2 lados
 * Los keycodes usan nombres US QWERTY (estándar ZMK/HID).
 * El SO interpreta según layout ES configurado en el sistema.
 *
 * Mapeo ES: SEMI=ñ, SQT=´(dead), LBKT=`(dead), RBKT=+, MINUS=',
 *           FSLH=-, NUBS=<, GRAVE=º, BSLH=ç
 *
 * Key positions:
 *   0  1  2  3  4        5  6  7  8  9
 *  10 11 12 13 14       15 16 17 18 19
 *  20 21 22 23 24       25 26 27 28 29
 *              30 31  32 33
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// ZMK Studio: locking disabled via CONFIG_ZMK_STUDIO_LOCKING=n in urchin.conf
// No studio_unlock behavior needed

// Layer definitions
#define BASE 0
#define NUM  1
#define NAV  2
#define SYM  3
#define MED  4
#define SETTINGS 5

/ {
    behaviors {
        // Home Row Mods - Left hand
        // Triggers on right-side keys + right thumb
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            label = "HOMEROW_MOD_LEFT";
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            hold-trigger-on-release;
        };

        // Home Row Mods - Right hand
        // Triggers on left-side keys + left thumb
        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            label = "HOMEROW_MOD_RIGHT";
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            hold-trigger-on-release;
        };

        // Layer-tap for thumbs
        ltl: layer_tap_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            label = "LAYER_TAP_LEFT";
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            bindings = <&mo>, <&kp>;
        };

        ltr: layer_tap_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            label = "LAYER_TAP_RIGHT";
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // W + E = Esc  (positions 1 + 2)
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        // D + F = Tab  (positions 12 + 13)
        combo_tab {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp TAB>;
        };

        // F + G = Caps Word  (positions 13 + 14)
        combo_capsword {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&caps_word>;
        };

        // Z + X = Undo / Ctrl+Z  (positions 20 + 21)
        combo_undo {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LC(Z)>;
        };

        // X + C = Cut / Ctrl+X  (positions 21 + 22)
        combo_cut {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LC(X)>;
        };

        // C + V = Copy / Ctrl+C  (positions 22 + 23)
        combo_copy {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LC(C)>;
        };

        // V + B = Paste / Ctrl+V  (positions 23 + 24)
        combo_paste {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp LC(V)>;
        };

        // J + K = Backspace  (positions 16 + 17)
        combo_bksp {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp BSPC>;
        };

        // K + L = Delete  (positions 17 + 18)
        combo_del {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp DEL>;
        };

        // Both left thumbs = Settings layer (BT, bootloader)
        combo_settings {
            timeout-ms = <200>;
            key-positions = <30 31>;
            bindings = <&mo SETTINGS>;
        };


    };

    keymap {
        compatible = "zmk,keymap";

        // ========================================
        // LAYER 0: BASE (QWERTY + Home Row Mods)
        // ========================================
        //  Q    W    E    R    T        Y    U    I    O    P
        // GUI/A ALT/S CTL/D SFT/F G    H   SFT/J CTL/K ALT/L GUI/ñ
        //  Z    X    C    V    B        N    M    ,    .    -
        //                NUM/´ NAV/Sp  SYM/En MED/`
        layer_Base {
            label = "Base";
            bindings = <
                &kp Q        &kp W        &kp E         &kp R         &kp T            &kp Y   &kp U         &kp I         &kp O        &kp P
                &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &kp G            &kp H   &hmr RSHFT J  &hmr RCTRL K  &hmr RALT L  &hmr RGUI SEMI
                &kp Z        &kp X        &kp C         &kp V         &kp B            &kp N   &kp M         &kp COMMA     &kp DOT      &kp FSLH
                                                         &ltl NUM SQT  &ltl NAV SPACE   &ltr SYM RET  &ltr MED LBKT
            >;
        };

        // ========================================
        // LAYER 1: NUMBERS (hold NUM/´)
        // ========================================
        layer_Num {
            label = "Num";
            bindings = <
                &kp N1    &kp N2    &kp N3     &kp N4     &kp N5       &kp N6  &kp N7     &kp N8     &kp N9    &kp N0
                &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none        &none   &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
                &none     &none     &none      &none      &none        &none   &none      &kp COMMA  &kp DOT   &kp FSLH
                                                &trans     &none        &none   &none
            >;
        };

        // ========================================
        // LAYER 2: FN + NAVIGATION + CLIPBOARD (hold NAV/Space)
        // ========================================
        layer_Nav {
            label = "Nav";
            bindings = <
                &kp F1    &kp F2    &kp F3     &kp F4     &kp F5        &kp F6    &kp F7     &kp F8     &kp F9     &kp F10
                &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none         &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp F11
                &kp LC(Z) &kp LC(X) &kp LC(C)  &kp LC(V)  &kp LC(Y)     &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp F12
                                                &none      &trans        &none     &none
            >;
        };

        // ========================================
        // LAYER 3: SYMBOLS (ES layout)
        // ========================================
        // What you see (ES):
        //  |    @    #    ~    %        &    /    (    )    =
        //  !    "    {    }    +        '    ´    `    ^    ¨
        //  \    $    [    ]    *        ?    <    >    ¿    ¡
        layer_Sym {
            label = "Sym";
            bindings = <
                &kp RA(N1)     &kp RA(N2)     &kp RA(N3)    &kp RA(N4)     &kp LS(N5)       &kp LS(N6)     &kp LS(N7)  &kp LS(N8)   &kp LS(N9)     &kp LS(N0)
                &kp LS(N1)     &kp LS(N2)     &kp RA(SQT)   &kp RA(BSLH)   &kp RBKT         &kp MINUS      &kp SQT     &kp LBKT     &kp LS(LBKT)   &kp LS(SQT)
                &kp RA(GRAVE)  &kp LS(N4)     &kp RA(LBKT)  &kp RA(RBKT)   &kp LS(RBKT)     &kp LS(MINUS)  &kp NUBS    &kp LS(NUBS) &kp LS(EQUAL)  &kp EQUAL
                                                              &none          &none            &trans         &none
            >;
        };

        // ========================================
        // LAYER 4: MEDIA + SYSTEM
        // ========================================
        layer_Media {
            label = "Media";
            bindings = <
                &none     &none     &none      &none      &none        &none  &none          &none          &none          &bootloader
                &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none        &none  &kp C_MUTE     &kp C_VOL_DN   &kp C_VOL_UP   &none
                &none     &none     &none      &none      &none        &none  &kp C_PREV     &kp C_PP       &kp C_NEXT     &none
                                                &none      &none        &none  &trans
            >;
        };

        // ========================================
        // LAYER 5: SETTINGS (BT + System)
        // ========================================
        // Access via combo: both left thumbs (30+31)
        // Or add a dedicated mechanism
        layer_Settings {
            label = "Sett.";
            bindings = <
                &bootloader     &none  &none  &bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 3  &none  &none  &none  &bootloader
                &none           &none  &none  &none       &bt BT_SEL 1     &bt BT_SEL 4  &none          &none  &none  &none
                &sys_reset      &none  &none  &none       &bt BT_SEL 2     &bt BT_SEL 5  &none          &none  &none  &sys_reset
                                               &none       &none            &none         &none
            >;
        };

        // ========================================
        // LAYERS 6-7: Reserved for ZMK Studio
        // ========================================
#ifdef CONFIG_ZMK_STUDIO
        layer_Reserved1 {
            status = "reserved";
            bindings = <
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                                     &trans &trans   &trans &trans
            >;
        };

        layer_Reserved2 {
            status = "reserved";
            bindings = <
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
                                     &trans &trans   &trans &trans
            >;
        };
#endif
    };
};
